body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

main {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

h2 {
	font-size: 30px;
	margin: 0 0 20px 10px;
	text-decoration: underline;
}

ul {
  text-align: center;
  margin-top:30px;
}

ul li {
  display:inline-block;
  font-size:30px;
  margin-left:20px;
 }

 ul li a {
 	text-decoration:none;
 }
 
.registerBook, .soldBookRegister, .updatePrice, .customerForm {
	margin: 60px auto;
}

.bookRegisteringInfo, .soldBookRegisteringInfo, .updatePriceInfo, .isbnSearch .titleSearch  {
	width: 30%;
 	margin: 20px 30px;
 	display: inline-block;
}

.bookRegisteringInfo input, .soldBookRegisteringInfo input, .updatePriceInfo input, .isbnSearch input, .titleSearch input {
	display: block;
	margin-bottom: 10px;
}

isbnSearch {
	display:none;
}

.titleSearch {
	display:none;
	margin-top:15px;
}

.authorSearch {
	display:none;
	width:160px;
	margin-top:15px;
	margin-bottom:15px;

}

.optionsMenu {
	margin-bottom:15px;
}





.registeringNotify span, .soldRegisteringNotify span, .UpdatePriceNotify span, .registeredPriceQty span {
	display: none;
}

/*.cancelRegistering, .cancelSoldRegistering, .cancelUpdatePrice {
	margin: 10px;
}*/



.soldBookRegister, .registerBook, .customerForm {
	position: relative;
	background-color: #E0EBEB;
	width: 700px;
	padding: 10px;
}

.updatePrice {
	position: relative;
	background-color: #E0EBE6;
	width: 700px;
	padding: 10px;
	margin-top: 100px;
}

.registeredSoldBooks, .registeredNewBook, .priceUpdated {
	position: absolute;
	bottom: 20%;
	right: 10%;
	background-color: #7EDD1E;
	width:350px;
	padding:10px;
	margin-bottom:10px;
}

.bookFound {
	position: absolute;
	top: 20%;
	right: 10%;
	background-color: #FFFF19;
	width: 300px;
	padding: 10px;
	margin-bottom: 10px;
}

.registeredPriceQty {
	position: absolute;
	bottom: 10%;
	right: 10%;
	background-color: #FFFF19;
	width: 300px;
	padding: 10px;
	margin-bottom: 10px;
}
 
.bookNoExist, .updatePriceError, .cancelSoldRegistering {
	position: absolute;
	bottom: 10%;
	right: 10%;
	background-color:#FA2525;
	width:350px;
	padding:10px;
	margin-bottom:10px;
}

.report {
	display: inline-block;
	background: white;
	width: 500px;
	height: 300px;
	z-index: 10;
}



.search-listing article {
	padding: 10px;
	background-color: #E0EBEB;
}

.search-listing article:nth-child(odd) {
	background-color: #F3F7F7;
}

.search-listing article span {
	display: inline-block;
	width: 160px;
}

.search-listing article .searchPrice span, .searchShelf span {
	width: 100px;
}

.search-column-names {
  background-color: #B3BCBC !important;
}

