body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

main {
  display: block;
  width: 900px;
  margin: 0 auto;
}

h2 {
	font-size: 30px;
	margin: 0 0 20px 10px;
	text-decoration: underline;
}

ul {
  text-align: center;
  margin-top:30px;
}

ul li {
  display:inline-block;
  font-size:30px;
  margin-left:20px;
 }

 ul li a {
 	text-decoration:none;
 }

 span{
 display:none;
 }
 
.registerBook, .soldBookRegister, .updatePrice, .customerForm {
	margin: 60px;
}

.bookRegisteringInfo, .soldBookRegisteringInfo, .updatePriceInfo, .customerInfo {
	width: 30%;
 	margin: 20px 30px;
 	display: inline-block;
}

.bookRegisteringInfo input, .soldBookRegisteringInfo input, .updatePriceInfo input, .customerInfo input {
	display: block;
	margin-bottom: 10px;
}

/*.registeringNotify div, .soldRegisteringNotify div, .UpdatePriceNotify div {
	display: none;
}

.registeringNotify .registeredSuccess, .soldRegisteringNotify .soldRegisteredSuccess, .UpdatePriceNotify .updatePriceSuccess {
	background-color: #7EDD1E;
	padding: 5px;
	
}

.registeringNotify .registeredError, .soldRegisteringNotify .soldRegisteredError, .UpdatePriceNotify .updatePriceError {
	background-color: #FA2525;
	padding: 5px;
}*/

.cancelRegistering, .cancelSoldRegistering, .cancelUpdatePrice {
	margin: 10px;
}

.soldBookRegister, .registerBook {
	background-color: #E0EBEB;
	padding: 10px;
}

.updatePrice {
	background-color: #E0EBE6;
	padding: 10px;
	margin-top: 100px;
}

.registeredSoldBooks, .registeredNewBook {
	background-color: #7EDD1E;
	width:350px;
	padding:10px;
	margin-bottom:10px;
}

.bookFound {
	background-color: #FFFF19;
	width:350px;
	padding:10px;
	margin-bottom:10px;
}

.bookNoExist {
	background-color:#FA2525;
	width:350px;
	padding:10px;
	margin-bottom:10px;
}